<h4>Please upload a .zip file with the following structure:</h4>
<code>
<br>&lt;root&gt;
<br>  ├── &lt;data_file_1&gt;.csv
<br>  ├── &lt;data_file_1&gt;.json
<br>  ├── &lt;data_file_2&gt;.csv
<br>  ├── &lt;data_file_2&gt;.json
<br>  ├── &lt;data_file_3&gt;.csv
<br>  ├── &lt;data_file_3&gt;.json
<br>  ├── &lt;geometries_file_1&gt;.geojson
<br>  ├── &lt;geometries_file_2&gt;.geojson
<br>  ├── sankey
<br>  └── &lt;sankey_file&gt;.json
</code>
<h5>During the upload process, no data will be visible to end users. The upload process usually takes around 1 hour to complete.</h5>
